body {
	margin: 0px;
}

header {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #505050;
}

#header-container {
	position: relative;
	width: 1200px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: #505050;
}

#title-daus {
	top: 12px;
	float: left;
}

.title {
	position: relative;
	font-family: miso-bold;
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 20px;
}

#icons-container-right {
	position: relative;
	top: 8px;
	float: right;
}

a {
	text-decoration: none;
}

.icon {
	position: relative;
	width: 44px;
	height: 44px;
	margin-right: 8px;
	display: inline-block;
}

.icon-twitter {
	background-image: url("image/icon-twitter.png");
}

.icon-facebook {
	background-image: url("image/icon-facebook.png");
}

.icon-linkedin {
	background-image: url("image/icon-linkedin.png");
}

.icon-email {
	background-image: url("image/icon-email.png");
}

.last-icon {
	margin-right: 0px;
}

.portfolio {
	position: relative;
	width: 100%;
	height: 600px;
}

#portfolio-1 {
	background-image: url("image/html-background.jpg");
	background-position: center;
}

.portfolio-container {
	position: relative;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-text-container-left {
	left: 0px;
}

.portfolio-text-container {
	position: absolute;
	width: 360px;
	top: 50%;
	transform: translateY(-50%);
}

.portfolio-text-title {
	position: relative;
	font-family: miso-bold;
	color: #ffffff;
	font-size: 70px;
	line-height: 56px;
	margin-bottom: 18px;
}

.portfolio-text-body {
	position: relative;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
}

#portfolio-2 {
	background-image: url("image/css-background.png");
	background-position: center;
}

.portfolio-text-container-right {
	right: 0px;
}

#portfolio-3 {
	background-image: url("image/javascript-background.jpg");
	background-position: center;
}

footer {
	position: relative;
	width: 100%;
	background-color: #505050;
}

#footer-container {
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color: #505050;
}

.footer-column {
	position: relative;
	width: 360px;
	margin-right: 60ox;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
}

.footer-column-last {
	margin-right: 0px;
}

.avatar {
	position: relative;
	width: 120px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	background-image: url("image/avatar.png");
	background-size: 120px 120px;
	border-radius: 50%;
}

#last {
	padding-top: 25px;
}